.root{
    -fx-font-family: "Lucida Calligraphy";
}

.campos-login{
    -fx-border-color: #ffdce4;
    -fx-border-radius: 7;
    -fx-background-radius: 7;
    -fx-border-width: 2;
    -fx-promp-text-fill: #ffb9c9;
}

.menu{
    -fx-background-color: #ffedf2;
}

.titulo{
    -fx-text-fill: #ffb9c9;
    -fx-padding: 10 0 10 10;
}

.botao-menu{
    -fx-background-color : transparent;
}

.botao-menu:hover {
    -fx-background-color: #d07086;
    -fx-opacity: 0.2;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}
.botao-estoque{
    -fx-background-color : #d07086;
}

.tabela{
    -fx-background-color : #ffb9c9;
}
.codigo-gerado:hover{
    -fx-text-fill: #d07086;

}
.codigo-gerado{
    -fx-text-fill: #ffedf2;
}