.campos-login{
    -fx-border-color: #ffdce4;
    -fx-border-radius: 7;
    -fx-background-radius: 7;
    -fx-border-width: 2;
    -fx-promp-text-fill: #ffb9c9;
}

.menu{
    -fx-background-color: #ffedf2;
}

.titulo{
    -fx-text-fill: #ffb9c9;
    -fx-padding: 10 0 10 10;
}

.botao-menu{
    -fx-background-color : transparent;
}